node-red/.flows.json.backup
[{"id":"ebaa3bd24cfc9880","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"42f24c26.6fb5e4","type":"server","name":"Home Assistant","addon":true},{"id":"38263145.35ea0e","type":"ccu-connection","name":"CCU3","host":"192.168.1.100","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":false,"bcwiEnabled":false,"jackEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"192.168.1.101","rpcServerHost":"192.168.1.101","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""},{"id":"60f8c4fb.40168c","type":"hue-bridge","name":"Philips hue","bridge":"192.168.1.106","key":"LxcQFLbjKdP1M2kLAD4D2W90YY1QoR4E7IoIsBmB","worker":"10","autoupdates":true,"disableupdates":false},{"id":"0d795628f5521c55","type":"zigbee2mqtt-server","name":"Zigbee MQTT Bridge","host":"localhost","mqtt_port":"1883","mqtt_username":"homeassistant","mqtt_password":"Niezeekeit2Aighuecoohoopah9Yei6ve4chooJ8ciewin3Eiquoocheik4oong8","mqtt_qos":"0","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"3092fa5efe1df6fe","type":"zigbee2mqtt-bridge","z":"ebaa3bd24cfc9880","name":"","server":"0d795628f5521c55","topic":null,"x":210,"y":80,"wires":[[]]},{"id":"acbfa79dfa406d5e","type":"hue-bridge-node","z":"ebaa3bd24cfc9880","name":"Hue Bridge","bridge":"60f8c4fb.40168c","autoupdates":true,"skipglobalevents":false,"initevents":false,"x":430,"y":80,"wires":[[]]},{"id":"976b1f0a994bb403","type":"ccu-mqtt","z":"ebaa3bd24cfc9880","name":"Homematic MQTT","ccuConfig":"38263145.35ea0e","cache":true,"topicOutputEvent":"hm/status/${channelName}/${datapoint}","topicInputSetValue":"hm/set/${channelNameOrAddress}/${datapoint}","topicOutputSysvar":"hm/status/${name}","topicInputSysvar":"hm/set/${name}","topicInputPutParam":"hm/paramset/${channelNameOrAddress}/${paramset}/${param}","topicInputPutParamset":"hm/paramset/${channelNameOrAddress}/${paramset}","topicInputRpc":"hm/rpc/${iface}/${method}/${command}/${callid}","topicOutputRpc":"hm/response/${callid}","topicCounters":"hm/status/counter/${iface}/${rxtx}","payloadOutput":"mqsh-extended","x":630,"y":80,"wires":[[]]},{"id":"6e4485c7a2eb3542","type":"ccu-rpc-event","z":"ebaa3bd24cfc9880","name":"Taster Schreibtisch Büro Uli An","iface":"HmIP-RF","ccuConfig":"38263145.35ea0e","rooms":"Büro Uli","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"Taster Schreibtisch Büro Uli","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"00019D89ACA216:2","channelRx":"str","channelName":"","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"PRESS_SHORT","datapointRx":"str","change":false,"working":false,"cache":false,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":230,"y":240,"wires":[["88f23ac5e93c7931"]]},{"id":"88f23ac5e93c7931","type":"api-call-service","z":"ebaa3bd24cfc9880","name":"Bürobeleuchtung an","server":"42f24c26.6fb5e4","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":["buro_uli"],"deviceId":[],"entityId":["scene.burobeleuchtung_an"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":240,"wires":[[]]},{"id":"644f560f5058e701","type":"ccu-rpc-event","z":"ebaa3bd24cfc9880","name":"Taster Schreibtisch Büro Uli Aus","iface":"HmIP-RF","ccuConfig":"38263145.35ea0e","rooms":"Büro Uli","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"Taster Schreibtisch Büro Uli","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"00019D89ACA216:1","channelRx":"str","channelName":"","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"PRESS_SHORT","datapointRx":"str","change":false,"working":false,"cache":false,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":230,"y":500,"wires":[["02b2b8711976531b","ff8fbe70f0324951"]]},{"id":"02b2b8711976531b","type":"api-call-service","z":"ebaa3bd24cfc9880","name":"Bürobeleuchtung aus","server":"42f24c26.6fb5e4","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":["buro_uli"],"deviceId":[],"entityId":["scene.burobeleuchtung_aus"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":500,"wires":[[]]},{"id":"ff8fbe70f0324951","type":"debug","z":"ebaa3bd24cfc9880","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":580,"wires":[]},{"id":"bf71809221431673","type":"ccu-rpc-event","z":"ebaa3bd24cfc9880","name":"Taster 1 An Büro Uli","iface":"HmIP-RF","ccuConfig":"38263145.35ea0e","rooms":"Büro Uli","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"Taster 1 Büro Uli","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"0019DD89A14B79:2","channelRx":"str","channelName":"","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"PRESS_SHORT","datapointRx":"str","change":false,"working":false,"cache":false,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":190,"y":320,"wires":[["88f23ac5e93c7931"]]},{"id":"062865e21be8c7a4","type":"ccu-rpc-event","z":"ebaa3bd24cfc9880","name":"Taster 1 Aus Büro Uli","iface":"HmIP-RF","ccuConfig":"38263145.35ea0e","rooms":"Büro Uli","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"Taster 1 Büro Uli","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"0019DD89A14B79:1","channelRx":"str","channelName":"","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"PRESS_SHORT","datapointRx":"str","change":false,"working":false,"cache":false,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":200,"y":580,"wires":[["02b2b8711976531b"]]}]