node-red/flows.json
[{"id":"ebaa3bd24cfc9880","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"42f24c26.6fb5e4","type":"server","name":"Home Assistant","addon":true},{"id":"38263145.35ea0e","type":"ccu-connection","name":"CCU3","host":"192.168.1.100","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":false,"bcwiEnabled":false,"jackEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"192.168.1.101","rpcServerHost":"192.168.1.101","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""},{"id":"60f8c4fb.40168c","type":"hue-bridge","name":"Philips hue","bridge":"192.168.1.106","key":"LxcQFLbjKdP1M2kLAD4D2W90YY1QoR4E7IoIsBmB","worker":"10","autoupdates":true,"disableupdates":false},{"id":"0d795628f5521c55","type":"zigbee2mqtt-server","name":"Zigbee MQTT Bridge","host":"localhost","mqtt_port":"1883","mqtt_username":"homeassistant","mqtt_password":"Niezeekeit2Aighuecoohoopah9Yei6ve4chooJ8ciewin3Eiquoocheik4oong8","mqtt_qos":"0","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"3092fa5efe1df6fe","type":"zigbee2mqtt-bridge","z":"ebaa3bd24cfc9880","name":"","server":"0d795628f5521c55","topic":null,"x":210,"y":80,"wires":[[]]},{"id":"acbfa79dfa406d5e","type":"hue-bridge-node","z":"ebaa3bd24cfc9880","name":"Hue Bridge","bridge":"60f8c4fb.40168c","autoupdates":true,"skipglobalevents":false,"initevents":false,"x":430,"y":80,"wires":[[]]},{"id":"976b1f0a994bb403","type":"ccu-mqtt","z":"ebaa3bd24cfc9880","name":"Homematic MQTT","ccuConfig":"38263145.35ea0e","cache":true,"topicOutputEvent":"hm/status/${channelName}/${datapoint}","topicInputSetValue":"hm/set/${channelNameOrAddress}/${datapoint}","topicOutputSysvar":"hm/status/${name}","topicInputSysvar":"hm/set/${name}","topicInputPutParam":"hm/paramset/${channelNameOrAddress}/${paramset}/${param}","topicInputPutParamset":"hm/paramset/${channelNameOrAddress}/${paramset}","topicInputRpc":"hm/rpc/${iface}/${method}/${command}/${callid}","topicOutputRpc":"hm/response/${callid}","topicCounters":"hm/status/counter/${iface}/${rxtx}","payloadOutput":"mqsh-extended","x":630,"y":80,"wires":[[]]}]